<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 background-green1 content-infor">
            <section class="section1">
                <h1>¡Bienvenido a la herramienta de registro Coink!</h1>
                <figure>
                    <img src="../../assets/imgs/img1.png" alt="¡Bienvenido a la herramienta de registro Coink!">
                </figure>
            </section>
            <section>
                <h3>Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.</h3>
                <figure>
                    <img src="../../assets/imgs/img2.png" alt="Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.">
                </figure>    
            </section>
        </div>
        <div class="col-md-6">mundo</div>
    </div>
</div>
