<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 background-green1 content-infor">
            <section class="section1">
                <h1>¡Bienvenido a la herramienta de registro Coink!</h1>
                <figure>
                    <img src="../../assets/imgs/img1.png" alt="¡Bienvenido a la herramienta de registro Coink!">
                </figure>
            </section>
            <section>
                <h3>Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.</h3>
                <figure>
                    <img src="../../assets/imgs/img2.png" alt="Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.">
                </figure>    
            </section>
        </div>
        <div class="col-md-6 background-gray1 content-form">
            <section class="register">
                <p>
                    <span>¿Aún no tienes una cuenta?</span>
                    <a href="">Regístrate ahora</a>
                </p>
            </section>
            <section class="form">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2>Iniciar sesión en Coink</h2>
                        <form>
                            <div>
                                <label for="">Correo electrónico</label>
                                <div class="style-input">
                                    <input type="text">
                                    <i class="bi bi-person"></i>
                                </div>  
                            </div>
                            <div>
                                <label for="">Contraseña</label>
                                <div class="style-input">
                                    <input type="password">
                                    <i class="bi bi-eye" (click)="viewPass()"></i>
                                </div>  
                            </div>
                            <div class="content-checkbox">
                                <input type="checkbox" name="remember" id="remember">
                                <label for="remember">Recordarme</label>
                            </div>
                            <div class="options">
                                <button>Iniciar sesión</button>
                                <a href="">¿Olvidaste tu contraseña?</a>
                            </div>
                        </form>    
                    </div>
                    
                </div>
                
            </section>
        </div>
    </div>
</div>
