@import '../../../colors.scss';

aside{
    height: 100vh;
    width: 100%;
    .image{
        text-align: center;
        max-height: 45px;
        height: 45px;
        .menu-inter{
            display: none;
        }
    }
    .profile{
        min-height: 242px;
        border-bottom: 1px solid $gray3;
        padding: 15px;
        .photo{
            width: 150px;
            height: 150px;
            background: #D1FBD9;
            border-radius: 50%;
            margin: 0 auto;
            
        }
        p{
            color: $green3;
            text-align: center;
            margin-top: 20px;
        }
    }
    .list-items{
        ul{
            li{
                display: block;
                background: $white1;
                a{
                    color: $green3;
                    min-height: 40px;
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                }
                a:hover{
                    background: $gray5;
                }
                a.active{
                    background: $green3;
                    color: $white1;
                }
                .sub-menu{
                    display: none;
                }
                .sub-menu.active{
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .image{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        .menu-inter{
            display: block !important;
            font-size: 30px;
            color: $white1;
        }
    }
    
}