@import '../../../colors.scss';

nav {
    height: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    color: $white1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    p {
        font-weight: bold;
    }

    i {
        font-size: 30px;
    }
}